* {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.containerOne {
  display: grid;
  grid-template-columns: 2fr 3fr; /*2 columnas del mismo tamaño*/
  grid-auto-rows: 400px;
}

.imagesHero {
  width: 100%;
  height: 100%;
  object-fit: contain; /*se ajusta a el espacio que esta ocupando*/
}

.info{
  align-self: center; /*self para que los items se alinen con ellos*/
}

button{
  cursor: pointer;
}

.dishes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
}

.dishesItems{
  width: 100%;
  height: 100%;
  object-fit: cover; /*para que cubrir todas las celdas*/
}