* {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 800;
  font-style: normal;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
/*TODO: 1ra vista*/
.containerOne {
  display: grid;
  grid-template-columns: minmax(300px, 2fr) 3fr; /*2 columnas del mismo tamaño*/
  /*minmax( minimo maximo)*/
  grid-auto-rows: 550px;
}

.imagesHero {
  width: 100%;
  height: 100%;
  object-fit: contain; /*se ajusta a el espacio que esta ocupando*/
}

.info{
  align-self: center; /*self para que los items se alinen con ellos*/
}

button{
  cursor: pointer;
}

.dishes{
  margin: 100px 0;
}

.dishesTitle{
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  font-size: 5rem;
}

.dishesGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
  grid-auto-rows: 1fr;
  gap: 25px;
  justify-content: center;
}

.dishesItems{
  width: 100%;
  height: 100%;
  object-fit: cover; /*para que cubrir todas las celdas*/
}

.dishesItems__big{
grid-area: 1 / 1 / 3 / 3;
}

/*TODO: 3ra vista*/
.menu{
  margin-bottom: 200px;
}

.homeTitle{
font-size: 3rem;
color: #333;
font-weight: bolder;
text-align: center;
margin-bottom: 50px;
}

.menuGrid{
  display: grid;
  gap: 25px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 150px);
}

.menuGridItem{
background-color: rgb(226, 140, 238);
padding: 15px;
border-top-left-radius: 50px;
}
.menuGridItem img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 715px) {
  .containerOne{
  grid-template-columns: minmax(300px, 500px);

  }

  .imagesHero{
  display: none;
  }

  .dishesGrid{
    grid-template-columns: repeat(auto-fit, minmax(75px, 100px));
  }
}